.chat {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex: 0.65;

  &__header {
    padding: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  &__headerInfo {
    flex: 1;
    padding-left: 2rem;

    & > h2 {
      font-weight: 500;
    }

    & > p {
      color: gray;
    }
  }

  &__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
  }

  &__body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 3rem;
    overflow: scroll;
  }

  &__message {
    position: relative;
    background-color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    margin-bottom: 2rem;
  }

  &__name {
    position: absolute;
    top: -1.5rem;
    left: 0.4rem;
    font-size: xx-small;
    font-weight: 700;
  }

  &__timestamp {
    margin-left: 1rem;
    font-size: xx-small;
  }

  &__reciever {
    margin-left: auto;
    background-color: #dcf8c6;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.2rem;
    border-top: 1px solid lightgray;

    & > form {
      flex: 1;
      display: flex;

      & > input {
        flex: 1;
        border-radius: 3rem;
        padding: 1rem;
        border: none;

        &:focus {
          outline-style: none;
        }
      }

      & > button {
        display: none;
      }
    }

    & > .MuiSvgIcon-root {
      padding: 1rem;
      font-size: 20px;
      color: gray;
    }
  }
}
