.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 3.9rem;
  padding: 1rem;

  &Container {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 3.5rem;
    border-radius: 2rem;
    padding-left: 1rem;

    & > input {
      border: none;
      margin-left: 1rem;
      outline-style: none;
    }
  }
}

.sidebar__headerRight > .MuiIconButton-root {
  font-size: 24px !important;
}

.sidebar__chats {
  background-color: white;
  flex: 1;
  overflow: scroll;
}
