.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  &__container {
    padding: 7rem;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  }

  &__container > img {
    object-fit: contain;
    height: 10rem;
    margin-bottom: 2rem;
  }

  &__container > button {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
  }
}
